
<center>
    <h1>Quadrants</h1>
</center>

@{ ViewData["Title"] = "Home Page"; }


@model List<MatrixResponse>

<table class="table table-danger table-striped">
    @{ foreach ( var x in Model){
          if (@x.Completed == false)
          {
        <thead class="font-weight-bold table-bordered">
            <tr>
                <td>Urgent</td>
                <td>Not Urgent</td>
            </tr>
        </thead>
                            <tbody>
                                if (@x.Category.CategoryName == "Urgent/Important"){
                                <tr>
                                    <td>Important</td>
                                    <td>@x.Task</td>
                                </tr>
                                }
                                if (@x.Category.CategoryName == "Urgent/Unimportant"){
                                <tr>
                                    <td>Not Important</td>
                                    <td>@x.Task</td>
                                </tr>
                                }
                                if (@x.Category.CategoryName == "Not Urgent/Important"){
                                <tr>
                                    <td>@x.Task</td>
                                </tr>
                                }
                                if (@x.Category.CategoryName == "Not Urgent/Unimportant"){
                                <tr>
                                    <td>@x.Task</td>
                                </tr>
                                }
                            </tbody> }
                        } 
        }

</table>

