@{ 
    ViewData["Title"] = "Home Page";
}


@model List<MatrixResponse>

<center>
    <h1>Quadrants</h1>
</center>

 





        <div class="row border-top border-bottom border-left border-right">
            <div class="col-2 border-top border-bottom border-left border-right"> </div>
            <div class="col-5 border-top border-bottom border-left border-right">Urgent </div>
            <div class="col-5 border-top border-bottom border-left border-right">Not Urgent </div>

        </div>
        <div class="row">
            <div class="col-2 border-top border-bottom border-left border-right">Important </div>
            <div class="col-5 border-top border-bottom border-left border-right">
                @foreach (var x in Model)
                {
                    @if (x.Completed == false & x.Quadrant == 1)
                    {

                        @x.Task <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.MatrixId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.MatrixId">Delete</a>
                        <br />

                    }
                }

            </div>
            <div class="col-5 border-top border-bottom border-left border-right">
                @foreach (var x in Model)
                {
                    @if (x.Completed == false & x.Quadrant == 2)
                    {

                        @x.Task <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.MatrixId">Edit</a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.MatrixId">Delete</a>
                        <br />

                    }
                }
            </div>

        </div>
        <div class="row">
            <div class="col-2 border-top border-bottom border-left border-right">Not Important </div>
            <div class="col-5 border-top border-bottom border-left border-right">
                @foreach (var x in Model)
                {
                    @if (x.Completed == false & x.Quadrant == 3)
                    {

                        @x.Task <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.MatrixId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.MatrixId">Delete</a>
                        <br />

                    }
                }
            </div>
            <div class="col-5 border-top border-bottom border-left border-right">
                @foreach (var x in Model)
                {
                    @if (x.Completed == false & x.Quadrant == 4)
                    {

                        @x.Task <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.MatrixId">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.MatrixId">Delete</a>
                        <br />

                    }
                }
            </div>

        </div>









